{
  "Messaging":
  {
    "MessageBroker": "<<RabbitMQ or AzureServiceBus>>" 
  },
  "ConnectionStrings": {
    "CosmosDb": "<<COSMOS_CONNECTION_STRING>>",
    "ServiceBus": "<<SERVICE_BUS_CONNECTION_STRING>>",
    "RabbitMQ": "<<RABBITMQ_CONNECTION_STRING>>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "NServiceBus": "Information"
    }
  }
}
