{
  "ConnectionStrings": {
    "CosmosDb": "<<COSMOS_CONNECTION_STRING>>",
    "ServiceBus": "<<SERVICE_BUS_CONNECTION_STRING>>",
    "RabbitMQ": "<<RABBITMQ_CONNECTION_STRING>>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "NServiceBus": "Information"
    }
  },
  "AllowedHosts": "*"
}
