name: Deploy Modernization Patterns Site

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "platform/modernizationpatterns/**"
      - ".github/workflows/modernizationpatterns-static-webapp.yml"

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "platform/modernizationpatterns"
          output_location: "dist"
